body {
  font-family: "Montserrat", sans-serif;
}

.navbar-nav {
  align-self: right;
}
/* stylelint-disable selector-list-comma-newline-after */
.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}
.blog-header-logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.25rem;
}
.blog-header-logo:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}
.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}
.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}
.flex-auto {
  flex: 0 0 auto;
}
.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}
/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}
/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}
/*
 * Custom translucent site header
 */
.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
/*
 * Dummy devices (replace them with your own or something else entirely!)
 */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}
.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}
.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

body{
    background:#eee;
    margin-top:20px;
}

.home-blog {
    padding-top: 80px;
    padding-bottom: 80px
}


.media.blog-media {
    margin-top: 30px;
    position: relative;
    display: block
}

@media (min-width:992px) {
    .media.blog-media {
        display: table
    }
}

.media.blog-media .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    white-space: nowrap;
    position: absolute;
    padding: 0;
    top: 20px;
    left: 20px;
    text-align: center;
    box-shadow: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    color: #fff;
    transition: background-color .3s ease
}

.media.blog-media .circle .day {
    color: #fff;
    transition: color .25s ease;
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    margin-top: 12px
}

.media.blog-media .circle .month {
    text-transform: uppercase;
    font-size: 14px
}

.media.blog-media>a {
    position: relative;
    display: block
}

@media (min-width:992px) {
    .media.blog-media>a {
        display: table-cell;
        vertical-align: top;
        min-width: 200px
    }
}

@media (min-width:1200px) {
    .media.blog-media>a {
        min-width: 230px
    }
}

.media.blog-media>a:before {
    position: absolute;
    content: '';
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: opacity .3s, -webkit-transform .3s ease;
    transition: transform .3s ease, opacity .3s;
    transition: transform .3s ease, opacity .3s, -webkit-transform .3s ease;
    background: rgba(12, 198, 82, .7)
}

.media.blog-media>a img {
    width: 100%
}

.media.blog-media:hover>a:before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1)
}

.media.blog-media:hover .circle {
    background-color: rgba(255, 255, 255, .9)
}

.media.blog-media:hover .circle .day,
.media.blog-media:hover .circle .month {
    color: #222
}

.media.blog-media:hover .media-body h5 {
    color: #0cc652
}

.media.blog-media:hover .media-body a.post-link {
    color: #0cc652;
    text-decoration: underline
}

.media.blog-media .media-body {
    border: 1px solid #efeff3;
    padding: 30px 30px 10px;
    font-size: 14px;
    background: #fff;
    border-top: none
}

@media (min-width:992px) {
    .media.blog-media .media-body {
        padding: 15px 20px 10px;
        border-top: 1px solid #efeff3;
        border-left: none;
        display: table-cell;
        vertical-align: top
    }
}

@media (min-width:1200px) {
    .media.blog-media .media-body {
        padding: 30px 20px 10px
    }
}

.media.blog-media .media-body h5 {
    transition: color .3s ease;
    margin-bottom: 15px
}

@media (min-width:992px) {
    .media.blog-media .media-body h5 {
        font-size: 15px
    }
}

@media (min-width:1200px) {
    .media.blog-media .media-body h5 {
        margin-bottom: 15px;
        font-size: 18px
    }
}

.media.blog-media .media-body a.post-link {
    display: block;
    color: #222;
    font-size: 11px;
    padding: 23px 0;
    text-transform: uppercase;
    font-weight: 400
}

@media (min-width:992px) {
    .media.blog-media .media-body a.post-link {
        padding: 7px 0
    }
}

@media (min-width:1200px) {
    .media.blog-media .media-body a.post-link {
        padding: 23px 0
    }
}

.media.blog-media .media-body ul {
    position: relative;
    padding: 10px 0 0
}

.media.blog-media .media-body ul li {
    display: inline-block;
    width: 49%;
    position: relative
}

.media.blog-media .media-body ul li:before {
    position: absolute;
    content: '';
    top: 5px;
    left: 0;
    width: 1px;
    height: 14px;
    background: #eeeef2
}

.media.blog-media .media-body ul li:first-child:before {
    visibility: hidden
}

.media.blog-media .media-body ul:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #eeeef2
}

@media (min-width:992px) {
    .home-blog {
        padding-top: 100px;
        padding-bottom: 100px
    }
}

.home-blog .section-title {
    padding-bottom: 15px
}

.home-blog .media {
    margin-top: 50px
}

@media (min-width:768px) {
    .home-blog .media {
        margin-top: 30px
    }
}



@media (min-width:768px) {
    .blog-left-sidebar .media.blog-media,
    .blog-right-sidebar .media.blog-media {
        display: table
    }
}

@media (min-width:768px) {
    .blog-left-sidebar .media.blog-media>a,
    .blog-right-sidebar .media.blog-media>a {
        display: table-cell;
        vertical-align: top;
        min-width: 250px
    }
}

@media (min-width:768px) {
    .blog-left-sidebar .media.blog-media .media-body,
    .blog-right-sidebar .media.blog-media .media-body {
        border-top: 1px solid #efeff3;
        border-left: none;
        display: table-cell;
        vertical-align: top
    }
}

.blog-left-sidebar .media.blog-media .media-body a.post-link,
.blog-right-sidebar .media.blog-media .media-body a.post-link {
    padding: 22px 0
}

@media (min-width:1200px) {
    .blog-left-sidebar .media.blog-media>a,
    .blog-right-sidebar .media.blog-media>a {
        min-width: 250px
    }
}

.blog-post .media.blog-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.blog-post .bredcrumb h2 {
    margin-bottom: 0
}

.blog-post .media.blog-media .media-body ul li {
    font-size: 13px;
    width: auto;
    padding-right: 14px
}

.blog-post .media.blog-media .media-body ul li i {
    display: none
}

@media (min-width:768px) {
    .blog-post .media.blog-media .media-body ul li i {
        display: inline-block
    }
}

@media (min-width:768px) {
    .blog-post .media.blog-media .media-body ul li {
        font-size: 14px;
        width: 49%;
        padding-right: unset
    }
}

.blog-post .media.blog-media .media-body ul li:before {
    left: -8px
}

@media (min-width:768px) {
    .blog-post .media.blog-media .media-body ul li:before {
        left: 0
    }
}

.blog-post-contents {
    padding: 80px 0
}

@media (min-width:992px) {
    .blog-post-contents {
        padding: 100px 0
    }
}

.blog-post-contents .media.blog-media {
    margin-top: 0
}

.blog-post-contents .media.blog-media .media-body {
    padding: 30px;
    border: 1px solid #eeeef2;
    border-top: none
}

.blog-post-contents .media.blog-media .media-body p {
    padding-bottom: 15px
}

.blog-post-contents .media.blog-media .media-body ul {
    padding-top: 15px
}

.blog-post-contents .media.blog-media:hover .circle {
    background-color: rgba(255, 255, 255, .7)
}

.blog-post-contents .media.blog-media:hover .circle .day,
.blog-post-contents .media.blog-media:hover .circle .month {
    opacity: 1
}
/*
 * Extra utilities
 */
.flex-equal > * {
  flex: 1;
}
/*BOTON DE REDES*/
#btn-mas {
  display: none;
}
.btn-social {
  align-self: right;
  bottom: 20px;
  right: 25px;
  position: fixed; /* posicion fija a la pantalla*/
}
.redes a,
.btn-mas label {
  display: block; /*Mostrar en forma de pila*/
  text-decoration: none;
  background: #ffffff;
  color: rgb(48, 48, 48);
  width: 70px;
  height: 60px; /*debe ser el mismo valor de line-height*/
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease; /*Hacer la transici칩n*/
}
.redes .fa-whatsapp:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(39, 196, 0);
  color: #ffffff;
}
.redes .fa-instagram:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 212);
  color: #ffffff;
}
.redes .fa-youtube:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 0);
  color: #ffffff;
}
.redes .fa-facebook:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(44, 100, 255);
  color: #ffffff;
}
.redes a {
  margin-bottom: -50px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  /*Cuando esta chekeado*/
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  /*Ajustes del boton principal*/
  cursor: pointer;
  background: rgb(255, 166, 0);
  font-size: 35px;
}
#btn-mas:checked ~ .btn-mas label {
  /*Rotar el boton principa침*/
  transform: rotate(360deg);
  font-size: 25px;
}

@media (min-width: 768px) {
  .body {
    font-family: 'Montserrat', sans-serif;
  }

  .navbar-nav {
    align-self: right;
  }

  /* stylelint-disable selector-list-comma-newline-after */

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  .blog-header-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Montserrat', sans-serif;
  }

  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
  }

  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }

  .flex-auto {
    flex: 0 0 auto;
  }

  .h-250 {
    height: 250px;
  }
  @media (min-width: 768px) {
    .h-md-250 {
      height: 250px;
    }
  }

  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }

  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .container {
    max-width: 960px;
  }

  /*
   * Custom translucent site header
   */

  .site-header {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color 0.15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */

  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  /*
   * Extra utilities
   */

  .flex-equal > * {
    flex: 1;
  }

  /*BOTON DE REDES*/
  #btn-mas {
    display: none;
  }
  .btn-social {
    align-self: right;
    bottom: 20px;
    right: 25px;
    position: fixed; /* posicion fija a la pantalla*/
  }
  .redes a,
  .btn-mas label {
    display: block; /*Mostrar en forma de pila*/
    text-decoration: none;
    background: #ffffff;
    color: rgb(48, 48, 48);
    width: 70px;
    height: 60px; /*debe ser el mismo valor de line-height*/
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease; /*Hacer la transici칩n*/
  }
  .redes .fa-whatsapp:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(39, 196, 0);
    color: #ffffff;
  }
  .redes .fa-instagram:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(255, 0, 212);
    color: #ffffff;
  }
  .redes .fa-youtube:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(255, 0, 0);
    color: #ffffff;
  }
  .redes .fa-facebook:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(44, 100, 255);
    color: #ffffff;
  }
  .redes a {
    margin-bottom: -50px;
    opacity: 0;
    visibility: hidden;
  }
  #btn-mas:checked ~ .redes a {
    /*Cuando esta chekeado*/
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
  }
  .btn-mas label {
    /*Ajustes del boton principal*/
    cursor: pointer;
    background: rgb(255, 166, 0);
    font-size: 35px;
  }
  #btn-mas:checked ~ .btn-mas label {
    /*Rotar el boton principa침*/
    transform: rotate(360deg);
    font-size: 25px;
  }

  .flex-md-equal > * {
    flex: 1;
  }
}
