.body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar-nav {
  align-self: right;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman",
    serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 {
  height: 250px;
}
@media (min-width: 768px) {
  .h-md-250 {
    height: 250px;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: 0.25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}

/*BOTON DE REDES*/
#btn-mas {
  display: none;
}
.btn-social {
  align-self: right;
  bottom: 20px;
  right: 25px;
  position: fixed; /* posicion fija a la pantalla*/
}
.redes a,
.btn-mas label {
  display: block; /*Mostrar en forma de pila*/
  text-decoration: none;
  background: #ffffff;
  color: rgb(48, 48, 48);
  width: 70px;
  height: 60px; /*debe ser el mismo valor de line-height*/
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease; /*Hacer la transici칩n*/
}
.redes .fa-whatsapp:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(39, 196, 0);
  color: #ffffff;
}
.redes .fa-instagram:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 212);
  color: #ffffff;
}
.redes .fa-youtube:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 0);
  color: #ffffff;
}
.redes .fa-facebook:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(44, 100, 255);
  color: #ffffff;
}
.redes a {
  margin-bottom: -50px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  /*Cuando esta chekeado*/
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  /*Ajustes del boton principal*/
  cursor: pointer;
  background: rgb(255, 166, 0);
  font-size: 35px;
}
#btn-mas:checked ~ .btn-mas label {
  /*Rotar el boton principa침*/
  transform: rotate(360deg);
  font-size: 25px;
}

@media only screen and (min-width: 480px) and (max-width: 800px) {
  .body {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }

  .navbar-nav {
    align-self: right;
  }

  /* stylelint-disable selector-list-comma-newline-after */

  .blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
  }

  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman",
      serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }

  .blog-header-logo:hover {
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman",
      serif /*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }

  .display-4 {
    font-size: 2.5rem;
  }
  .display-4 {
    font-size: 3rem;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-scroller .nav-link {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 0.875rem;
  }

  .card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
  }

  .flex-auto {
    flex: 0 0 auto;
  }

  .h-250 {
    height: 250px;
  }

  .h-md-250 {
    height: 250px;
  }

  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  .blog-pagination > .btn {
    border-radius: 2rem;
  }

  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    margin-bottom: 0.25rem;
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  /*.container {
    max-width: 960px;
  }*/

  /*
   * Custom translucent site header
   */

  .site-header {
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #8e8e8e;
    transition: color 0.15s ease-in-out;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }

  /*
   * Dummy devices (replace them with your own or something else entirely!)
   */

  .product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

  .product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
  }

  .product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
  }

  /*
   * Extra utilities
   */

  .flex-equal > * {
    flex: 1;
  }

  /*BOTON DE REDES*/
  #btn-mas {
    display: none;
  }
  .btn-social {
    align-self: right;
    bottom: 20px;
    right: 25px;
    position: fixed; /* posicion fija a la pantalla*/
  }
  .redes a,
  .btn-mas label {
    display: block; /*Mostrar en forma de pila*/
    text-decoration: none;
    background: #ffffff;
    color: rgb(48, 48, 48);
    width: 70px;
    height: 60px; /*debe ser el mismo valor de line-height*/
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease; /*Hacer la transici칩n*/
  }
  .redes .fa-whatsapp:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(39, 196, 0);
    color: #ffffff;
  }
  .redes .fa-instagram:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(255, 0, 212);
    color: #ffffff;
  }
  .redes .fa-youtube:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(255, 0, 0);
    color: #ffffff;
  }
  .redes .fa-facebook:hover {
    /*Acciones al pasar el puntero encima*/
    background: rgb(44, 100, 255);
    color: #ffffff;
  }
  .redes a {
    margin-bottom: -50px;
    opacity: 0;
    visibility: hidden;
  }
  #btn-mas:checked ~ .redes a {
    /*Cuando esta chekeado*/
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
  }
  .btn-mas label {
    /*Ajustes del boton principal*/
    cursor: pointer;
    background: rgb(255, 166, 0);
    font-size: 35px;
  }
  #btn-mas:checked ~ .btn-mas label {
    /*Rotar el boton principa침*/
    transform: rotate(360deg);
    font-size: 25px;
  }

  .flex-md-equal > * {
    flex: 1;
  }
}
