.body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.navbar-nav {
  align-self: right;
}

.home {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.contenido {
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.conocenos {
  background-color: rgb(221, 221, 221);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.form-group {
  align-self: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn.btn-primary {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*BOTON DE REDES*/
#btn-mas {
  display: none;
}
.btn-social {
  align-self: right;
  bottom: 20px;
  right: 25px;
  position: fixed; /* posicion fija a la pantalla*/
}
.redes a,
.btn-mas label {
  display: block; /*Mostrar en forma de pila*/
  text-decoration: none;
  background: #ffffff;
  color: rgb(48, 48, 48);
  width: 70px;
  height: 60px; /*debe ser el mismo valor de line-height*/
  line-height: 60px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  transition: all 500ms ease; /*Hacer la transición*/
}
.redes .fa-facebook:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(91, 88, 255);
  color: #ffffff;
}

.redes .fa-youtube:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 0, 0);
  color: #ffffff;
}

.redes .fa-instagram:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(255, 57, 156);
  color: #ffffff;
}

.redes .fa-whatsapp:hover {
  /*Acciones al pasar el puntero encima*/
  background: rgb(0, 255, 72);
  color: #ffffff;
}
.redes a {
  margin-bottom: -50px;
  opacity: 0;
  visibility: hidden;
}
#btn-mas:checked ~ .redes a {
  /*Cuando esta chekeado*/
  margin-bottom: 10px;
  opacity: 1;
  visibility: visible;
}
.btn-mas label {
  /*Ajustes del boton principal*/
  cursor: pointer;
  background: rgb(255, 174, 0);
  font-size: 35px;
}
#btn-mas:checked ~ .btn-mas label {
  /*Rotar el boton principañ*/
  transform: rotate(360deg);
  font-size: 25px;
}

.btn-wsp:hover {
  background: #fff;
  color: #25d366;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .redes a,
  .btn-mas label {
    display: block; /*Mostrar en forma de pila*/
    text-decoration: none;
    background: #ffffff;
    color: rgb(48, 48, 48);
    width: 50px;
    height: 42.5px; /*debe ser el mismo valor de line-height*/
    line-height: 42.5px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
    transition: all 500ms ease; /*Hacer la transición*/
  }
}
