body{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home{
	background-color: rgb(255, 255, 255);
	padding-left: 20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.contenido{
	background-color: rgb(255, 255, 255);
	padding-left: 20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;

}

.conocenos{
	background-color: rgb(221, 221, 221);
	padding-left: 20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.form-group{
	padding-left: 20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.btn.btn-primary{
	padding-left: 20px;
	padding-right:20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

/*BOTON DE REDES*/
#btn-mas{
    display: none;
}
.btn-social{
    align-self: right;
    bottom: 20px;
    right:25px;
    position: fixed; /* posicion fija a la pantalla*/
}
.redes a, .btn-mas label{
    display: block;         /*Mostrar en forma de pila*/
    text-decoration: none;
    background: #ffffff;
    color: rgb(102, 102, 102);
    width: 70px;
    height: 60px;           /*debe ser el mismo valor de line-height*/
    line-height: 60px;
    text-align: center;
    border-radius: 50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;                         /*Hacer la transición*/
}
.redes a:hover{             /*Acciones al pasar el puntero encima*/
    background: rgb(255, 0, 0);
    color: #ffffff;
}
.redes a{
    margin-bottom: -50px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{ /*Cuando esta chekeado*/
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{             /*Ajustes del boton principal*/
    cursor: pointer;
    background: rgb(255, 255, 255);
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{      /*Rotar el boton principañ*/
    transform: rotate(360deg);
    font-size: 25px;
}

/*Watsap*/
.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:25px;
    left:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    /*z-index:100;*/
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: #FFF;
    color:#25d366;
}
/*@media only screen and (min-width:320px) and (max-width:768px){*/
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
/*}*/